#projectImage{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 250px;
}
.hexPoly{
    fill-opacity: 0%;
    stroke: aqua;
}
#polygonValues{
    fill-opacity: 30%;
    fill: indianred;
    stroke: red;
}
.valuePoint{
    fill: black;
    opacity: 100%;
}