:root{
    /* Color Theme */
    --rgba-primary-0: rgba(199,1,88,1);
    --rgba-primary-1: rgba(157,10,74,1);
    --rgba-primary-2: rgba(128,7,60,1);
    --rgba-primary-3: rgba(89,0,39,1);
    --rgba-primary-4: rgba(53,0,23,1);
}
body{
    /* background: radial-gradient(circle, #24246e, #FFFFFF); */
    font-family: Arial, Helvetica, sans-serif;
}

#content{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-gap: 10px;
     grid-auto-rows: minmax(100px, auto);
}
#content{
    border-radius: 75px;
    background-color: hsla(0,100%,100%,0.6);
    max-width: 70%;
    margin: 0 auto;
}
#title{
    font-size: 5rem;
}
#titleArea{
    padding-top: 15px;
    text-align: center;
    grid-column: 1 / 3;
    grid-row: 1;
}
#projectImage{
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    width: 500px;
}
#radarChartArea{
    text-align: center;
}
#radarChartSVG{
margin-left: 40px;
}
#ring5{
    stroke: yellow;
}
.radarRing{
    fill-opacity: 0%;
    stroke: aqua;
}
#valuePolygon{
    fill-opacity: 30%;
    fill: indianred;
    stroke: red;
}
.valuePoint{
    fill: red;
    opacity: 100%;
}
#left{
    grid-column: 1;
    grid-row: 2;
}
#right{
    grid-column: 2;
    grid-row: 2;
}
#descriptionArea{
    grid-column: 1/3;
    grid-row: 3;
}
.contentArea{
    padding: 10% 5%;
}

h2 {
    font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
}
li:last-child {
    border: none;
}

.a{
    font-size: 1.5rem;
    white-space: nowrap;
    height: fit-content;
    width: fit-content;
    border-radius: 4px;
    padding: 3px;
    margin: 0 3px;
    /*background-color: var(--rgba-primary-3);*/
}
.material {
    margin: 10px 0;
    width: fit-content;
    white-space: nowrap;
}
.materialDetail{
    display:none;
    margin-left: 10px;
    padding: 1px 3px;
    border-radius: 3px;
    background-color: var(--rgba-primary-0);
}
.material .materialDetail:before{
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: var(--rgba-primary-0);
    z-index: -1;
    transform: translate(-60%, 100%) rotate(45deg);
}
.a:hover + .materialDetail{
    /*background: var(--rgba-primary-3);*/
    position: absolute;
    display: inline-block;
}

.tool {
    margin: 10px 0;
    width: fit-content;
    white-space: nowrap;
}
.toolDetail{
    display:none;
    margin-left: 10px;
    padding: 1px 3px;
    border-radius: 3px;
    background-color: var(--rgba-primary-0);
}
.tool .toolDetail:before{
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: var(--rgba-primary-0);
    z-index: -1;
    transform: translate(-60%, 100%) rotate(45deg);
}
.a:hover + .toolDetail{
    /*background: var(--rgba-primary-3);*/
    position: absolute;
    display: inline-block;
}
