body {
    background-image: url(../img/createBackground.jpg);
    background-size: cover;
    background-color: #000000 ;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-items: center;
}
.content {
    width: 100vw;
    margin: 3vw;
    padding: 2vw;
    background-color: rgba(0,0,0,0.5);
}
.header {
    font-family: monospace;
    text-align: center;
    font-size: 2vw;
    color: #ffffff;
}
.leftSide {
    float: left;
    margin: 0.5vw;
}
.rightSide {
    font-family: monospace;
    color: #ffffff;
}
.picsLeft {
    display: block;
    margin-top: 0.5vw;
    max-width: 25vw;
}
.main {
    display: inline-block;
}
.header2 {
    font-size: 1vw;
}
.texts {
    font-size: 1vw;
}