body {
    background-image: url(../img/createBackground.jpg);
    background-size: cover;
    background-color: #000000 ;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-items: center;
    font-family: monospace;
}
.content {
    background-size: cover;
    margin: 5% 5% 0 0;
    width: 90%;
    height: 80%;
    position: absolute;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}
.headline {
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}
.flexContainer {
    display: flex;
    flex-wrap: wrap;
}
.projectField {
    margin: 0.5vw;
    width: 8vw;
    height: 8vw;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1vw;
    font-weight: bold;
}
.projectField:hover {
    transition: background-color 1s ease;
    background-color: rgba(0,0,0,0.9);
    font-size: 0;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.projectField:hover:after {
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    content: attr(data-hover);
    font-size: 1vw;
    text-align: center;
    color: #4CAF50;
}