/* Space for Variables */
:root{
    /* Color Theme */
    --rgba-primary-0: rgba(254, 87,107,1);
    --rgba-primary-1: rgba(255,243,244,1);
    --rgba-primary-2: rgba(254,154,165,1);
    --rgba-primary-3: rgba(253, 25, 51,1);
    --rgba-primary-4: rgba(253,  0, 30,1);
}
body{
    background-image: url("../img/toolsBackground.jpeg");
}
.toolbar{
    height: 30px;
    background-color: dimgrey;
    opacity: 80%;
}
.svgText{
    fill: Black;
}
.axis{
    stroke: red;
}
.topicChoiceContainer{
    position: relative;
    width:100%;
    height:100%;
}
.topicSpace{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.topicCircles{
    opacity: 80%;
    fill: var(--rgba-primary-2);
}
.text{
    font-family: Arial, Helvetica, sans-serif;
}
#baseCircle{
    fill: var(--rgba-primary-3);
}
#baseText{
    font-size: 40px;
}