body {
    background-image: url(../img/createBackground.jpg);
    background-size: cover;
    background-color: #000000 ;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-items: center
}
#content{
    margin: 5rem auto;
    padding: 2% 5%;
    width: 50%;
    height: 25%;

    background-color: hsla(50,50%,100%,0.5);
}
